@use '~bootstrap/scss/bootstrap';
@use './partials/reset';
@use './partials/common';

.jumbo{
    img{
        object-fit: cover;
        object-position: top;
        width: 100vw;
        height: 200px;
    }
}